<nav>
    <div class="nav-wrapper">
        <div class="container">
        <a href="/" class="brand-logo">
            {% if site.logo %}
                <img src="{{ site.logo }}" alt="{{ site.title }}" title="{{ site.title }}">    
            {% else %}
                {{ site.title }}
            {% endif %}
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            {% for item in site.data.nav %}
                <li><a href="{{ item.link }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
        <ul class="sidenav" id="mobile-demo">
            {% for item in site.data.nav %}
                <li><a href="{{ item.link }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
        </div>
    </div>
</nav>